<div class="container">
    <h1>Sobre nosotros</h1>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div>
                <img src="../../../assets/img/office1.jpeg" alt="Nosotros">
            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div id="text-1">
                <h2>Experiencia</h2>
                <div class="text-cont">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quis necessitatibus odio iure
                        vero, quas quia fugiat temporibus, inventore esse aliquid eum hic itaque distinctio! Laborum
                        necessitatibus debitis dicta repellat?
                    </p>
                </div>

            </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="teaching" id="text-2">
                <h2>Nuestro equipo</h2>
                <div class="text-cont">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quis necessitatibus odio iure
                        vero, quas quia fugiat temporibus, inventore esse aliquid eum hic itaque distinctio! Laborum
                        necessitatibus debitis dicta repellat?
                    </p>
                </div>

            </div>

        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

            <div class="teaching">
                <img src="../../../assets/img/office2.png" alt="Nosotros">
            </div>
        </div>



    </div>

</div>
