<footer>
    <div class="container-md">
        <div class="row">
            <div class="section first col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="full-cont d-flex flex-column align-items-center">
                    <div class="cont">
                        <h5>21 Revolution Street</h5>
                        <h4>San José, CR</h4>
                    </div>
                    <div class="cont">
                        <h4>+506 11-22-11-22</h4>
                    </div>
                    <div class="cont">
                        <h4>support@company.com</h4>
                    </div>
                    <div class="cont">
                        <form>
                            <div class="cont-form">
                                <input type="email" placeholder="Newsletter">
                                <button type="submit">Subscribe</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="section col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="full-cont d-flex flex-column align-items-center">
                    <div class="cont">
                        <h3>Sobre nosotros</h3>
                    </div>
                    <div class="cont cont-txt">
                        <p class="centrar">
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                            <!-- Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. -->
                        </p>
                    </div>
<!--                     <div class="cont">
                        <h3>support@company.com</h3>
                    </div> -->
                    <div class="cont icons">
                        <img src="../../../assets/icons/facebook.png" alt="Facebook" title="Facebook" class="facebook">
                        <img src="../../../assets/icons/twitter.png" alt="Twitter" title="Twitter" class="twitter">
                        <img src="../../../assets/icons/linkedin.png" alt="LinkedIn" title="LinkedIn" class="linkedin">
                        <img src="../../../assets/icons/instagram.png" alt="Instagram" title="Instagram" class="instagram">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>